<footer class="bg-stone-950 fixed bottom-0 w-full">
    <p class="text-white">Fait sur Astro</p>
    <p class="text-white">2025</p>
    <p class="text-white">Fait par Alex RINGNEBACH</p>
    <a href="https://youtu.be/dQw4w9WgXcQ?si=V0J6hnpxQrNf1k94"
        >Easter Egg (cliquez) !</a
    >
    <p class="text-white">
        Ce site à été fait dans le cadre d'un tp de BUT MMI
    </p>
    <a class="text-white" href="https://www.instagram.com/mmi_montbeliard/">
        Compte instagram MMI</a
    >
</footer>
