<body class="min-h-screen flex flex-col">
    <!-- Contenu principal -->
    <main class="flex-grow">
        <!-- Ton contenu ici -->
    </main>

    <!-- Footer -->
    <footer class="bg-blue-400 text-center py-6 shadow-md mt-auto">
        <p class="text-black">Fait avec passion sur Astro</p>
        <p class="text-black">2025</p>
        <p class="text-black">Créé par Alex RINGNEBACH</p>
        <p class="text-blue-950 mt-4">
            Ce site a été conçu dans le cadre d'un TP de BUT MMI
        </p>
        <a
            href="https://www.instagram.com/mmi_montbeliard/"
            class="text-blue-600 hover:text-blue-800 transition"
        >
            Compte Instagram MMI
        </a>
    </footer>
</body>
