<nav class="bg-white p-4 shadow-md">
    <div class="flex justify-between items-center">
        <a
            href="/"
            class="text-blue-600 text-lg font-semibold hover:text-blue-800 transition"
            >Accueil</a
        >
        <a
            href="/offres/"
            class="text-blue-600 text-lg font-semibold hover:text-blue-800 transition"
            >Offres</a
        >
    </div>
</nav>
