---
import { getOffre } from "../../../backend.mjs";
import Base from "../../layouts/Base.astro";
const { id } = Astro.params;
export const prerender = false;
const offre = await getOffre(id);
---

<Base titre={offre?.nom_Maison}>
    <h2>{offre?.nom_Maison}</h2>
    <ul>
        <li>{offre?.adresse}</li>
        ...
    </ul>
</Base>
