---
import Base from "../../../layouts/Base.astro";
import Card from "../../../components/Card.astro";
import type { ACTION_ERROR_CODES, ACTION_QUERY_PARAMS } from "astro:actions";
import { bySurface } from "../../../../backend.mjs";

const { surface } = Astro.params;
export const prerender = false;
const offres = await bySurface(surface);
console.log(offres);
---

<Base titre="Accueil">
    <h1>Offres</h1>
    <!-- ou "Offres" pour la page des offres -->
    <p>bienvenue sur ma page pour mes offres</p>
    <p>Voici mes offres de Maison :</p>
    <div x-data="{ open: false }">
        <button x-on:click="open = ! open">Liste </button>

        <div :class="open ? 'list' : 'hidden'">Card</div>
    </div>
    <div class="columns-7" x-data="{ showFavorites: false }">
        <button @click="showFavorites=!showFavorites">
            <span x-show="showFavorites">Afficher les favoris</span>
            <span x-show="!showFavorites">Afficher tout</span>
        </button>

        <div x-show="!showFavorites">
            {offres.map((offre) => <Card {...offre} />)}
        </div>
        <div x-show="showFavorites">
            {offres.map((offre) => offre.favori && <Card {...offre} />)}
        </div>
    </div>
</Base>
